table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

th {
    background-color: white;
}

.generate-btn {
    background-color: rgb(35, 118, 227);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}